<header>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="{{ path('app_index') }}">Wild Series</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <div class="dropdown nav-item">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        -- Admin --
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('category_index') }}">Catégories</a>
                        <a class="dropdown-item" href="{{ path('program_index') }}">Programmes</a>
                        <a class="dropdown-item" href="{{ path('season_index') }}">Saisons</a>
                        <a class="dropdown-item" href="{{ path('episode_index') }}">Episodes</a>
                        <a class="dropdown-item" href="{{ path('actor_index') }}">Acteurs</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('all_program') }}">Liste des séries</a>
                </li>
            </ul>
        </div>
    </nav>
</header>