{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <section class="card text-dark m-3">
        <div class="card-header bg-secondary">
            <h1>Episode {{ episode.title }}<br>Programme {{ episode.season.program.title }}</h1>
        </div>
        <div class="media p-3">
            <table class="table table-light table-striped table-bordered mt-3">
                <tbody>
                <tr>
                    <th>Programme</th>
                    <td>{{ episode.season.program.title }}</td>
                </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ episode.title }}</td>
                    </tr>
                    <tr>
                        <th>Numéro</th>
                        <td>{{ episode.number }}</td>
                    </tr>
                    <tr>
                        <th>Synopsis</th>
                        <td>{{ episode.synopsis }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <a class="btn btn-dark" href="{{ path('episode_index') }}">Retour aux épisodes</a>

{% endblock %}
