{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <section class="card text-dark m-3 p-3">
        <div class="card-header bg-secondary">
            <h1>Saison {{ season.year }} du programme {{ season.program.title }}</h1>
        </div>
        <div class="media">
            <table class="table table-light table-striped table-bordered mt-3">
                <tbody>
                    <tr>
                        <th class="thead-dark">Programme</th>
                        <td>{{ season.program.title }}</td>
                    </tr>
                    <tr>
                        <th>Année</th>
                        <td>{{ season.year }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ season.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a class="btn btn-danger" href="{{ path('season_edit', {'id': season.id}) }}">Mise à jour</a>
        </div>
    </section>
    <a class="btn btn-dark" href="{{ path('season_index') }}">Retour aux saisons</a>
{% endblock %}
