{% extends "base.html.twig" %}

{% block title %}All categoryDetails{% endblock %}

{%  block body %}

{% for category in categories %}

    <div>
        <h2>{{ loop.index }} / {{ category.title }} - Catégorie : {{  category.category.name }}</h2>
        <p> {{ category.summary }}</p>
    </div>
{% else %}
    Aucune série trouvée
{% endfor %}
<a href="{{ path('app_index') }}">
    Retour à l'accueil
</a>

{% endblock %}