{% extends "base.html.twig" %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <h2>{{ episode.title }}</h2>
    <p>Episode {{ episode.number }}, saison {{ season.number }} de la série {{ program.title }}</p>
    <p>{{ episode.synopsis }}</p>
{% endblock %}