{% extends 'base.html.twig' %}

{% block title %}All episodes{% endblock %}

{% block body %}
    <h2>Saison {{ season.number }} de {{ program.title }}</h2>
    <p>{{ season.description }}</p>
    {% for episode in episodes %}
        <div>
            <h3><a href="{{ path('wild_show_episode', {'id': episode.id }) }}">{{ episode.number }} / {{ episode.title }}</a></h3>
            <p>{{ episode.synopsis }}</p>
        </div>
    {% else %}
        Aucun épisode trouvé.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}